{% extends 'itp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About Essence
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/about.css'%}">
</head>


		<div class="text">
			{% if user.is_authenticated %}
			<h1><strong>Welcome {{ user.get_short_name }}.</strong></h1><br /><br>
			{% else %}
			<h1><strong>Welcome.</strong></h1><br /><br>
			{% endif %}
			
			<div class="pic">	
				<img src="{% static "img/wordcloud.svg" %}" height="330vh" alt="wordcloud" /> 
			</div>
			<center><h3>About Essence</h3></center><br>
			
			Essence Research Lab is affiliated with the Knowledge and Data Engineering Systems Group of the Research Section: Information, Data and Analysis (IDA), School of Computing Science. Essence brings together the fundamental research areas of Distributed Data Systems, Machine Learning, and Data Science at the network Edge.

Essence's strength lies in the spectrum of theoretical backgrounds and applications ranging from distributed data systems, to distributed machine learning at the Edge. Essence focuses on building innovative distributed data science and engineering systems.

Essence undertakes research under the School's themes: Understandable Autonomous Systems and Media and Data Science.

Lab's members collaborate with the Inference, Dynamics and Interaction (IDI) as a source of Machine Learning expertise and the Intelligent Pervasive Systems (iPRISM) as a source of Intelligent Systems expertise.
		</div>
		
{% endblock %}
