{% extends 'itp/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %} 

{% block title_block %}
	Add an Event
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/add_publication.css'%}">
</head>

<h1>Add a Event</h1>
<div>
    <form id="event_form" method="post" action="{% url 'itp:add_event' %}">
        {% csrf_token %}
        {{ event_form|crispy }}
        <br>
        <button type="submit" class="btn btn-primary">Add an Event</button>
    </form>
</div>

{% endblock %}
