{% extends 'itp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a Conference
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/add_conference.css'%}">
</head>

<h1>Add a Conference</h1>
<div>
    <form id="conference_form" method="post" action="{% url 'itp:add_conference' %}">
        {% csrf_token %}
        {{ conference_form.as_p }}
        <input type="submit" name="submit" value="Add a Conference" />
    </form>
</div>

{% endblock %}
