{% extends 'itp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a Publication
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/add_publication.css'%}">
</head>

<h1>Add a Publication</h1>
<div>
    <form id="publication_form" method="post" action="{% url 'itp:add_publication' %}">
        {% csrf_token %}
        {{ publication_form.as_p }}
        <input type="submit" name="submit" value="Add a Publication" />
    </form>

 
</div>

{% endblock %}
