<!DOCTYPE html>
{% load staticfiles %}


<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
        
        <link rel="stylesheet" href="{% static 'polls/baseStyle.css' %}">

        <link href="{% static '/img/smalllogo.png' %}" rel="icon">
        <title>

            ITP - 
            {% block title_block %}

            {% endblock %}
        </title>
        
        <link rel="stylesheet" href="{% static 'polls/baseStyle.css' %}">
        <link href="{% static 'img/logo4.jpg' %}" rel="icon">
    </head>
    <body>
        <div>
            <ul>
                <li class="logo"><img src="{% static "img/logo.png" %}" alt="logo" /> </li>
                <li><a href="{% url 'itp:index' %}">Index</a></li>
                {% if user.is_authenticated %}
                <li style="float:right"><a href="{% url 'itp:logout' %}">Logout</a></li>
                <li style="float:right"><a href="{% url 'itp:add_publication' %}">Add A Publication</a></li>
                <li style="float:right"><a href="{% url 'itp:add_event' %}">Add An Event</a></li>
                <li style="float:right"><a href="{% url 'itp:my_archives' %}">My Archives</a></li>
                 {% else %}
                <li style="float:right"><a href="{% url 'itp:sign_up' %}">Sign Up</a></li>
                <li style="float:right"><a href="{% url 'itp:login' %}">Login</a></li>           
                {% endif %}
                <li style="float:right"><a href="{% url 'itp:publications' %}">Publication</a></li>
                <li style="float:right"><a href="{% url 'itp:events' %}">Event</a></li>
                <li style="float:right"><a href="{% url 'itp:about' %}">About</a ></li>
            </ul>
        </div>

            {% block body_block %}
            {% endblock %}
        

        <div>
            {% block side_block %}
            {% endblock %}
        </div>

        <hr />
        <footer class="footer-page">
            <b>Xinyao Shu IT+ PROJECT</b> 
        </footer>

    </body>
    
</html>


