{% extends 'itp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Events
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/events.css'%}">

    <div class="header">
	    <h2><strong>All Events</strong></h2> 
    </div>


    <div id="body"> 
           {% for e in events %}
            <ul>
                <li>Event: {{ e.name }} </li>  
                <li>Time: {{ e.time }} </li>  
                <li>Location: {{ e.location }} </li>  
                <li>Type: {{ e.type }} </li>  
                <li>Participant: {{ e.paticipant }} </li>  
                <li>Description: {{ e.description }} </li>  

               <br>  
            </ul>        
            {% endfor %}



  </div>	

{% endblock %}