{% extends 'itp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Publications
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/publications.css'%}">

    <div class="header">
	    <h2><strong>All Publications</strong></h2> 
    </div>


    <div id="body"> 
        <ul  style=“background-color:rgb(253,208,208)”>
            {% for p in publications %}
            <li>{% for a in p.author.all %}
                    {{ a.first_name }} {{ a.last_name }},
                {% endfor %}
                     ({{ p.year }})  {{ p.title }}

                {% if p.magazine %}
                    , {{ p.magazine }}
                 {% endif %}
                
                {% if p.page %}
                    , {{ p.page }}
                {% endif %}

                {% if p.doi %}
                    , (doi: {{ p.doi }}) 
                {% endif %}

                {% if p.conferenceid != None %}
                     , {{ p.conferenceid.name }}  {{ p.conferenceid.time }},  {{ p.conferenceid.location }} 
                {% endif %}
        </br>
                keyword: {% for a in p.tag.all %}
                {{ a.name }}  
                {% endfor %}
        </br></li>
            {% endfor %}

            
        </ul>
       
        
  </div>	

{% endblock %}